<a href="https://colab.research.google.com/github/catawba-data-mining/CIS-3902-Data-Mining/blob/main/ex_8_1_fires_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 8-1: Analyze the Forest Fires data

Your name:
Date:
Spring 2022 Data Mining Catawba College

In [24]:
# make sure pickle5 is installed, this gets complicated
# as some pickle versions are not backward compatible
!pip install pickle5

Requirement already satisfied: pickle5 in /usr/local/lib/python3.7/dist-packages (0.0.12)

In [25]:
import pickle5 as pickle

## Read the data

In [26]:
import pandas as pd

#### Upload the pickle file before executing the next code cell!

In [ ]:
# upload using folder in colab or
# upload the file you want - here we will first select fires_by_month.pkl
from google.colab import files
uploaded = files.upload()

In [27]:
# Read the data from the file - using fires_cleaned, this may take a few minutes due to large file
# the result will be a dataframe
with open('fires_by_month.pkl', 'rb') as fid:
     fires_by_month = pickle.load(fid)

In [ ]:
# fires_by_month = pd.read_pickle('fires_by_month.pkl')

In [28]:
# display the first five rows
fires_by_month.head()

  state  fire_year  fire_month  acres_burned  days_burning  fire_count
0    AK       1992           5        4202.0         135.0          14
1    AK       1992           6       86401.0         417.0          23
2    AK       1992           7       48516.7         500.0          26
3    AK       1992           8        3305.0          92.0           4
4    AK       1992           9          20.0           1.0           1

In [29]:
# display file info
fires_by_month.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9300 entries, 0 to 9299
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         9300 non-null   category
 1   fire_year     9300 non-null   int64
 2   fire_month    9300 non-null   int64
 3   acres_burned  9300 non-null   float64
 4   days_burning  9300 non-null   float64
 5   fire_count    9300 non-null   int64
dtypes: category(1), float64(2), int64(3)
memory usage: 372.9 KB

## Group and aggregate the data

In [30]:
# group the data by state and year
fires_grouped = fires_by_month.groupby(['state','fire_year'])

In [31]:
fires_grouped.head()

     state  fire_year  fire_month  acres_burned  days_burning  fire_count
0       AK       1992           5        4202.0         135.0          14
1       AK       1992           6       86401.0         417.0          23
2       AK       1992           7       48516.7         500.0          26
3       AK       1992           8        3305.0          92.0           4
4       AK       1992           9          20.0           1.0           1
...    ...        ...         ...           ...           ...         ...
9289    WY       2015           2        1420.0           1.0           2
9290    WY       2015           3        2484.7           7.0          10
9291    WY       2015           4         802.7           7.0           6
9292    WY       2015           5         121.0           2.0           2
9293    WY       2015           6          17.1           0.0           1

[5181 rows x 6 columns]

In [32]:
# sum the grouped data and store DataFrame in fires_by_year variable
fires_by_year = fires_grouped.sum()
fires_by_year.head()

                 fire_month  acres_burned  days_burning  fire_count
state fire_year
AK    1992               35      142444.7        1145.0          68
      1993               30      686630.5        3373.0         144
      1994               48      261604.7        2517.0         126
      1995               41       43762.6         880.0          48
      1996               40      598407.2        2112.0          88

In [33]:
# drop the fire_month column
fires_by_year.drop(columns='fire_month', inplace=True)
fires_by_year.head()

                 acres_burned  days_burning  fire_count
state fire_year
AK    1992           142444.7        1145.0          68
      1993           686630.5        3373.0         144
      1994           261604.7        2517.0         126
      1995            43762.6         880.0          48
      1996           598407.2        2112.0          88

In [34]:
fires_by_year.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1224 entries, ('AK', 1992) to ('WY', 2015)
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   acres_burned  1224 non-null   float64
 1   days_burning  1224 non-null   float64
 2   fire_count    1224 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 35.6 KB

## Use pivot tables

In [35]:
# select rows where the year is 2013 or later
# reset_index in pandas is used to reset index of the dataframe object to default indexing 
# (0 to number of rows minus 1) or to reset multi level index. 
# By doing so, the original index gets converted to a column
fires_recent = fires_by_year.query('fire_year >= 2013')
fires_recent.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 153 entries, ('AK', 2013) to ('WY', 2015)
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   acres_burned  153 non-null    float64
 1   days_burning  153 non-null    float64
 2   fire_count    153 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 8.4 KB

In [36]:
fires_recent.head()

                 acres_burned  days_burning  fire_count
state fire_year
AK    2013         1320518.50        4644.0         153
      2014          233426.40         571.0          43
      2015         5136372.99       16636.0         340
AL    2013           28015.65         115.0         581
      2014           35310.20         107.0         758

In [40]:
fires_recent = fires_recent.reset_index()
# data is grouped and has group level index, we need to reset the index so pivot will work

In [41]:
fires_recent.head()

  state  fire_year  acres_burned  days_burning  fire_count
0    AK       2013    1320518.50        4644.0         153
1    AK       2014     233426.40         571.0          43
2    AK       2015    5136372.99       16636.0         340
3    AL       2013      28015.65         115.0         581
4    AL       2014      35310.20         107.0         758

In [42]:
# use the pivot() method to pivot the data so the state values are used as row labels, 
# fire_year values are used as column labels, and acres_burned values are used as data
fires_recent.pivot(index='state', columns='fire_year', values='acres_burned').head()

fire_year        2013       2014        2015
state
AK         1320518.50  233426.40  5136372.99
AL           28015.65   35310.20    28386.96
AR           11797.60   18521.80    16302.96
AZ          102307.47  202212.51   154720.38
CA          575555.65  543033.33   844674.02

In [43]:
# use the pivot_table() method with the fires_by_month DataFrame to get the same result
# as the previous cell - first lets check fires_by_month for index
fires_by_month.head()

  state  fire_year  fire_month  acres_burned  days_burning  fire_count
0    AK       1992           5        4202.0         135.0          14
1    AK       1992           6       86401.0         417.0          23
2    AK       1992           7       48516.7         500.0          26
3    AK       1992           8        3305.0          92.0           4
4    AK       1992           9          20.0           1.0           1

In [45]:
# use the pivot_table() method with the fires_by_month DataFrame to get the same result
# as the previous cell
# lets use one big command this time!
fires_by_month.query('fire_year >= 2013').pivot_table(index='state', columns='fire_year', values='acres_burned', aggfunc='sum').head()

fire_year        2013       2014        2015
state
AK         1320518.50  233426.40  5136372.99
AL           28015.65   35310.20    28386.96
AR           11797.60   18521.80    16302.96
AZ          102307.47  202212.51   154720.38
CA          575555.65  543033.33   844674.02

## Work with bins

In [46]:
# reset the index for the DataFrame named fires_by_year
fires_by_year.reset_index(inplace=True)

In [47]:
# bin the data by decade
# right determines whether bins include rightmost edge or not
fires_by_year['decade'] = pd.cut(fires_by_year.fire_year,
                                 bins=[1900,2000,2010,2020],
                                 labels=['1990s','2000s','2010s'],
                                 right=False)

In [48]:
# double-check the edge values
fires_by_year.head()

  state  fire_year  acres_burned  days_burning  fire_count decade
0    AK       1992      142444.7        1145.0          68  1990s
1    AK       1993      686630.5        3373.0         144  1990s
2    AK       1994      261604.7        2517.0         126  1990s
3    AK       1995       43762.6         880.0          48  1990s
4    AK       1996      598407.2        2112.0          88  1990s

In [49]:
# drop the fire_year column and assign the DataFrame that's returned to a variable named fires_by_decade
fires_by_decade = fires_by_year.drop(columns=['fire_year'])
fires_by_decade.head()

  state  acres_burned  days_burning  fire_count decade
0    AK      142444.7        1145.0          68  1990s
1    AK      686630.5        3373.0         144  1990s
2    AK      261604.7        2517.0         126  1990s
3    AK       43762.6         880.0          48  1990s
4    AK      598407.2        2112.0          88  1990s

In [50]:
# group by the state and decade columns and sum the data
fires_by_decade = fires_by_decade.groupby(['state','decade']).sum()
fires_by_decade.head()

              acres_burned  days_burning  fire_count
state decade
AK    1990s   4.884868e+06       15069.0         734
      2000s   1.892062e+07       34174.0         974
      2010s   8.420518e+06       31025.0         915
AL    1990s   1.945928e+05         214.0         216
      2000s   4.088805e+05        1863.0         535

In [ ]:
# create one more chart/diagram utilizing capabilities of Panda
# see https://pandas.pydata.org/docs/user_guide/index.html#user-guide